<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<h3>Categories: </h3>
<ul>
<% @post.categories.each do |category| %>
  <li><%= link_to(category.name, category_path(category)) %></li>
<% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>

  <h3>Select User:</h3>
  <%= f.collection_select(:user_id, @users, :id, :username, include_blank: true) %><br />

  <h3>Or Make A New One:</h3>
  <%= f.fields_for :user, @comment.build_user do |u_form| %>
    <%= u_form.label :username %>
    <%= u_form.text_field :username %><br />
  <% end %>

  <%= f.label :content, 'Body: ' %><br />
  <%= f.text_area :content %>

  <%= f.submit %>
<% end %>

<h3>Comments: </h3>
<ul>
<% @post.comments.each do |comment| %>
  <li>
    <p><%= comment.user.username %> says: <%= comment.content %></p>
  </li>
<% end %>
</ul>

<h3>Commenters: </h3>
<ul>
<% @post.users.uniq.each do |user| %>
  <li>
    <%= link_to(user.username, user_path(user)) %>
  </li>
<% end %>
</ul>
